.frame {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.users-frame {
    margin-right: 10px;
}

.user-dropdown {
    height: 30px;
}

.message-box {
    width: 75vw;
    height: 80vh;
    padding-right: 25px;
    overflow-y: auto;
    border: 1px solid;
    background-color: #fafafa;
}

.message-box ul {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.message-box li {
    max-width: 50%;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 20px;
    list-style-type: none;
    font-size: 1.4rem;
}

.my-username {
    margin-left: auto;
    padding-right: 10px;
}

.other-username {
    margin-right: auto;
    padding-left: 10px;
}

.my-message {
    margin-left: auto; /* pushes the message as far right as possible */
    text-align: left;
    background-color: rgb(122, 184, 253);
    color: rgb(242, 241, 241);
}

.other-message {
    margin-right: auto;
    text-align: left;
    background-color: rgb(235, 235, 235);
}

.status-message {
    align-self: center;
    font-weight: bold;
    color: rgb(93, 155, 206);
}

.message-input-box {
    display: flex;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 10px;
}

.message-input-box input[id="messageInput"] {
    flex-grow: 1;
    height: 15px;
    font-size: 1rem;
    padding: 10px;
}

.message-input-box button {
    margin-left: 13px;
    width: 6.3rem;
    height: 40px;
    font-size: 1.2rem;
    flex-shrink: 0;
}

.bottom-tab {
    display: flex;
    gap: 6px;
}

.bottom-tab button {
    padding: 4px;
}

@media screen and (max-width: 600px) {
    .frame {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .message-box {
        width: 85vw;
    }

    .message-box li {
        min-width: 30px;
        max-width: 200px;
        padding: 9px 11px;
        font-size: 1rem;
    }
    .user-dropdown {
        margin-bottom: 10px;
    }
}

@media screen and (max-height: 800px) {
    .frame {
        margin-bottom: 85px;
    }
    
    .message-box {
        height: 580px;
    }
}