.message-box {
    width: 500px;
    height: 800px;
    background-color: rgb(117, 157, 205);
}

.message-box li {
    font-size: 1.2rem;
}

.text-box {
    padding-top: 20px;
}

.text-box input[type="text"] {
    width: 492px;
    font-size: 1.1rem;
}