body {
    width: 100vw;
    min-height: 100vh; /* ensures body takes up the full height of the viewport */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

@media screen and (max-height: 800px) {
    body {
        overflow: scroll;
    }
}