.message-box {
    width: 900px;
    height: 800px;
    padding: 5px;
    background-color: rgb(117, 157, 205);
    border-radius: 15px;
}

.message-box li {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.text-box {
    padding-top: 20px;
}

.text-box input[id="messageInput"] {
    width: 492px;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}

.text-box input[id="nameInput"] {
    width: 200px;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.text-box button {
    margin-left: 15px;
    width: 100px;
    font-size: 1.5rem;
}